<!--
	此示例下载自 https://echarts.apache.org/examples/zh/editor.html?c=graph-label-overlap
-->
<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%">
<head>
  <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
  <div id="container" style="width: 80%; height: 100%; float: right;"></div>
  {% load static %}
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
  <!-- Uncomment this line if you want to dataTool extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/extension/dataTool.min.js"></script>
  -->
  <!-- Uncomment this line if you want to use gl extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
  -->
  <!-- Uncomment this line if you want to echarts-stat extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>
  -->
  <!-- Uncomment this line if you want to use map
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@4.9.0/map/js/china.js"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@4.9.0/map/js/world.js"></script>
  -->
  <!-- Uncomment these two lines if you want to use bmap extension
  <script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=YOUR_API_KEY"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/extension/bmap.min.js"></script>
  -->

  <script type="text/javascript">
    var dom = document.getElementById('container');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};
    //var ROOT_PATH = 'https://echarts.apache.org/examples';
    var ROOT_PATH = '/static/data/';
    var option;

    myChart.showLoading();
$.getJSON(ROOT_PATH + 'SenKatieBritt.json', function (graph) {
  myChart.hideLoading();
  option = {
    title: {
      text: "SenKatieBritt's Network",
      subtext: 'Default layout',
      top: 'bottom',
      left: 'right'
    },
    tooltip: {},
    legend: [
      {
        data: graph.categories.map(function (a) {
          return a.name;
        })
      }
    ],
    animationDuration: 1500,
    animationEasingUpdate: 'quinticInOut',
    series: [
      {
        name: "SenKatieBritt's Network",
        type: 'graph',
        layout: 'none',
        data: graph.nodes,
        links: graph.links,
        categories: graph.categories,
        roam: true,
        label: {
          show: true,
          position: 'right',
          formatter: '{b}'
        },
        labelLayout: {
          hideOverlap: true
        },
        scaleLimit: {
          min: 0.4,
          max: 2
        },
        lineStyle: {
          color: 'source',
          curveness: 0.3
        },
        emphasis: {
          focus: 'adjacency',
          lineStyle: {
            width: 10
          }
        }
      }
    ]
  };
  myChart.setOption(option);
});

    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }
    myChart.on('click', function (params) {
      if (params.dataType === 'node')
      {
        var clickedNode = params.data;
        console.log('Clicked Node Information:', clickedNode);
        var imgSrc = '/static/img/' + params.name + '.jpg';
        //var imgSrc = "https://en.wikipedia.org/wiki/Katie_Britt#/media/File:Katie_Britt.jpg";
        displayInfomation(imgSrc);
      }

});
function displayInfomation(imgSrc) {
  var infoElement = document.getElementById('info-image');

  infoElement.src = imgSrc;
  console.log('show the image:', imgSrc);
}
    window.addEventListener('resize', myChart.resize);
  </script>
<div id="info-container" style="width: 10%; height: 100%; float: left">
  <img id="info-image" alt="The Image" style="width: 150px; height: 150px;"/>
</div>
</body>
</html>