<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>美国议员社交网络分析</title>
  <link rel="stylesheet" href="../../static/css/bootstrap.css">
  <link rel="stylesheet" href="../../static/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="../../static/css/index.css">

</head>
<body>

  <nav class="navbar navbar-default" >
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">舆情分析大作业</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="../index">首页 <span class="sr-only">(current)</span></a></li>
          <li><a href="../page1">关注网络</a></li>
          <li><a href="../page2">内容网络</a></li>
          <li><a href="../page3">同现网络</a></li>
        </ul>

        <form id="search-form" class="navbar-form navbar-right" action="../search" method="get"> 
        <div class="form-group">
          <input type="text" class="form-control typeahead" placeholder="real name or @twittername" name="SenatorName" id="SenatorName" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-default" value="search">查询</button>
      </form>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="jumbotron">
    <h1>美国议员社交网络分析</h1>
    <div style="height:20px;"> </div>
    <p style="font-size: small;">你可以点击导航栏查看不同的关系网络，也可以选择下方议员照片单击，查看以该议员为核心的网络关系图</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>

  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      {% for tw_name, real_name in random_senators.items %}
        <div class="swiper-slide">
          <span style="text-align: center; display: block;">{{real_name}}</span>
          <a href="../search?SenatorName={{tw_name}}">
          <img src="../../static/img/Senators/{{tw_name}}.jpg" alt="the image of Senator {{real_name}}"/>
          </a>
        </div>       
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- Swiper JS -->
  <script src="../../static/js/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>  
  <script src="../../static/js/jquery.min.js"></script>
  <script src="../../static/js/bootstrap.min.js"></script>
  <script src="../../static/js/bootstrap3-typeahead.js"></script>
  <script>
    var data = "{{senator_info|safe}}";
    var data = data.replace(/'/g, '"');
    var data = JSON.parse(data);
    var twNames = Object.keys(data);
    var realNames = Object.values(data);
    var dataList = twNames.concat(realNames);
    $("#SenatorName").typeahead(
      {
        source: dataList,
        items: 5,
      }
    )
  </script>
</body>
</html>
